{
    "db":
        {
            "db_engine": "mysql",
            "db_id": "db_id",
            "db_password" : "password",
            "db_host" : "localhost",
            "db_port" : "3306",
            "db_name" : "db_openedoo",
            "db_prefix" : "openedoo"
        },
    "config": "Development",
    "secret_key" : "aksaramaya_openedoo"
}
